.game-item{
    width: 100%;
    height: 100%;
    min-width: 220px;
    position: relative;
    background-color: rgb(36, 37, 41);
    border-radius: 15px;
}
.game-item__details-title{
    font-size: 18px;
    font-weight: 700;
}
.game-item__details{
    padding: 10px 0px 0px 20px;
}
.game-item__cover{
    width: 100%;
    height: 60%;
    cursor: pointer;
}
.game-item__details-buy{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    bottom: -8px;
}
.game-item__details-genres{
    margin: 5px 0 8px 0;
    display: flex;
    justify-content: flex-start;
}
.game-item__details-genres__item{
    outline: none;
    margin: 0 2px ;
    padding: 2px 5px;
    font-size: 13px;
    border-radius: 10px;
    background-color: rgb(80, 82, 82);
    border: none;
}
.btn-gray{
    background: rgb(87, 87, 90);
    outline: none;
    margin: 0 ;
    padding: 2px 5px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}
.col{
    height: 320px;
}
@media (max-width: 1200px){
    .game-item__details{
        padding: 10px 0px 15px 20px;
    }
}
@media (max-width: 768px){
    .col{
        height: 300px;
    }
    .game-item__details{
        padding: 10px 0 0 20px;
    }
}