header{
    height: 80px;
    width: 100vw;
}
.wrapper{
    height: 100%;
    margin: 0 auto;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-item{
    font-size: 28px;
    font-weight: 700;
    cursor: pointer;
}
@media (max-width: 768px) {
    header{
        position: fixed;
        z-index: 1;
        width: 100vw !important;
        background-color: rgb(25, 26, 28);
    }
    .container{
        max-width: 1920px !important;
    }
}
@media (max-width: 576px) {
    .container{
        width: 100vw ;
        max-width: 1920px;
    }
}
