header{
    height: 80px;
}
.wrapper{
    height: 100%;
    margin: 0 auto;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-item{
    font-size: 28px;
    font-weight: 700;
    cursor: pointer;
}
@media (max-width: 1200px) {
    header{
        position: fixed;
        z-index: 1;
        background-color: rgb(25, 26, 28);
    }
}