.basket-item{
    display: flex;
    margin-bottom: 30px;
}
.basket-item__cover{
    width: 250px;
    margin-right: 50px;
}
.basket-item__cover img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.basket-item__title,
.basket-item__price{
    display: flex;
    align-items: flex-start;
}
.basket-item__title span,
.basket-item__price span{
    font-size: 24px;
    font-weight: 700;
}
.basket-item__price{
    margin-left: auto;
    white-space: nowrap;
}
.basket-total__price{
    text-align: right;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 50px;
}
.basket-item__delete{
    cursor: pointer;
    margin-left: 5px;
}
@media (max-width: 1000px){
    .basket-item__title span,
    .basket-item__price span{
    font-size: 22px;
    }
}
@media(max-width: 768px){
    .basket-item__title span,
    .basket-item__price span{
        font-size: 18px;
    }
    .basket-left{
        margin-top: 90px;
    }
    .basket-item{
        flex-direction: column;
        align-items: center;
    }
    .basket-item__price{
        margin-left:0;
        margin-top: 5px;
        white-space: nowrap;
    }
    .basket-item__cover{
        margin-right: 0;
    }
}