body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-color: rgb(25, 26, 28);
}
*{
  color: #Fff !important;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-family: 400;
  text-decoration: none !important;
}
.secondary-text{
  color: rgb(80, 82, 84) !important;
  font-size: 700;
}
